<footer>
    <div class="container-fluid">
        <div class="row upper-footer text-center">
            <div class="col-md-4">
                <div class="footer-location">
                    <h3 class="text-uppercase">Location</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4 pb-5">
                <div class="footer-contact">
                    <h3 class="text-uppercase">Around The Web</h3>
                    <div class="footer-contact-icon d-flex justify-content-around">
                        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://www.google.com" target="_blank" aria-label="Google">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-about">
                    <h3 class="text-uppercase">About Freelancer</h3>
                    <p class="ps-5">
                        Freelance is a free to use, licensed Bootstrap theme
                        created by Route
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contianer lower-footer">
        <div class="text-center text-white">
            <p>Copyright © Your Website 2025</p>
        </div>
    </div>
</footer>
