<nav
    class="navbar navbar-expand-lg sticky-top"
    [ngClass]="{ 'navbar-scrolled': isScrolled }"
>
    <div class="container-fluid">
        <a class="navbar-brand text-white text-uppercase ps-5" routerLink=""
            >Start Framework
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav pe-5 ms-auto text-uppercase">
                <li class="nav-item pe-5">
                    <a
                        class="nav-link d-inline"
                        routerLinkActive=" active-color  rounded"
                        routerLink="/about"
                        >About</a
                    >
                </li>
                <li class="nav-item pe-5">
                    <a
                        class="nav-link"
                        routerLinkActive=" active-color  rounded"
                        routerLink="/portfolio"
                        >Portfolio</a
                    >
                </li>
                <li class="nav-item pe-5">
                    <a
                        class="nav-link"
                        routerLinkActive=" active-color  rounded"
                        routerLink="/contact"
                        >Contact</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
