<section>
    <div class="container-fluid">
        <div class="row  justify-content-center align-items-center">
            <div class="col-md-6 col-sm-12 mx-auto">
                <div class="contact-title text-center mb-5">
                    <h2 class="text-uppercase">contact section</h2>
                    <i class="fas fa-star"></i>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingUserName" placeholder="AhmedAbdelmotilab">
                    <label for="floatingUserName">UserName :</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="number" class="form-control" id="floatingUserAge" placeholder="25">
                    <label for="floatingUserAge">UserAge :</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">UserEmail :</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">UserPassword :</label>
                </div>
                <div class="form-button text-center mb-4">
                    <button class="btn">SendMessage</button>
                </div>
            </div>
        </div>
    </div>
</section>
