<section>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="inner text-center">
                    <div class="user-Image">
                        <img class="w-50 img-fluid" src="/images/userLogo.svg" alt="UserImage" />
                    </div>
                    <div class="user-title">
                        <h2 class="text-uppercase">Ahmed Abdelmotilab</h2>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="user-info text-white ps-4 pe-4">
                        <p>Web Designer - FrontEnd Developer - BackEnd Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section>
